.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

.navlink {
  color: black;
  text-decoration: none;
}

.navlink:hover {
  color: blue;
  text-decoration: none;
}