/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  max-width:100%;
}

/* General Styles */
html{
  font-size:62.5%;
}
body{
  font-size:1.6rem;
  line-height: 2;
}
h2{
  font-size:3rem;
}
h3{
  font-size:2rem;
}

/* Navbar */
.navbar-header {
  margin-bottom: 5%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.links-container {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.navlink {
  color: black;
  text-decoration: none;
}
.navlink:hover {
  color: blue;
  text-decoration: none;
}

/* Profile */
.profile-content {
  text-align: center;
}
#new-goal-button {
  padding: 1%;
  border-radius: 10px;
}

/* Goal Card */
.goal-card-container {
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  margin: 5% auto;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
}
.goal-card-header-container {
  width: 75%;
  margin: 2% auto;
}
/* **** potential universal button style ************ */
.goal-card-edit-button {
  width: 10%;
  padding: 1%;
  border-radius: 10px;
}
.goal-card-step-container {
  width: 90%;
  margin: auto;
  text-align: left;
}
.goal-card-step-title-container {
  display: flex;
  justify-content: left;
}
.goal-card-step-number {
  width: 12%;
}
.goal-card-step-title {
  width: 87%;
}
.goal-card-step-notes {
  width: 65%;
  margin: auto;
}

/* New Goal */
.goal-container {
  /* width: 50%; */
  /* margin: auto; */
  text-align: center;
  /* border: 1px solid blue; */
}
.goal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goal-title-container {

}
.goal-title {

}
.goal-title-input {

}
.steps-container {

}
.step-label {

}
.step-inputs-container {

}
.step-title-input {

}
.step-notes-input {

}
.delete-step-button {

}
.goal-form-errors {

}
.goal-buttons-container {

}
.goal-form-buttons {
  
}
/*  */
.new-goal-container button {
  height: 5vh;
  padding: 1% 2%;
  border-radius: 10px;
}
.goal-title-container {
  width: 100%;
  border: 1px solid blue;
  display: flex;
  justify-content: flex-start;
}
.new-goal-title-input {
  padding: 1%;
  font-size: 1.8rem;
  width: 100%;
  border: 1px solid red;
}
.new-goal-title {
  margin-right: 1%;
  border: 1px solid red;
}
.new-steps-container {
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 2% auto;
}
.new-step-inputs-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 1%;
}
.new-step-input {
  padding: 2%;
}
.remove-step-buttons {
  align-self: flex-start;
}
textarea {
  height: 15vh;
  resize: none;
}
.new-goal-save-button {
  margin: 0% 1% 10%;
}