/* 
  ****** Reset ******
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  max-width:100%;
}

/* ***** General Styles ***** */
html {
  font-size:62.5%;
  text-transform: uppercase;
}
body {
  font-size:1.6rem;
  line-height: 2;
}
h2 {
  font-size:3rem;
}
h3 {
  font-size:2rem;
}
button {
  padding: 1%;
  border-radius: 10px;
}

/* ***** Navbar *****  */
.navbar-header {
  margin-bottom: 5%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.links-container {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.navlink {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
}
.navlink:hover {
  color: blue;
  text-decoration: none;
}

/* ***** Profile *****  */
.profile-content {
  text-align: center;
}

/* ***** Goal Card *****  */
.goal-card-container {
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  margin: 5% auto;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
}
.goal-card-header-container {
  width: 75%;
  margin: 2% auto;
}
.goal-card-edit-button {
  width: 10%;
}
.goal-card-step-container {
  width: 90%;
  margin: auto;
  text-align: left;
}
.goal-card-step-title-container {
  display: flex;
  justify-content: left;
}
.goal-card-step-number {
  width: 12%;
}
.goal-card-step-title {
  width: 87%;
}
.goal-card-step-notes {
  width: 65%;
  margin: auto;
  text-transform: capitalize;
}

/* ***** Forms: New Goal/Edit Goal ***** */
.goal-container {
  text-align: center;
  width: 50%;
  margin: auto;
}
.goal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.8rem;
}
.goal-title-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 4%;
}
.goal-label {
  width: 10%;
  text-align: left;
  align-self: flex-start;
}
.goal-title-input {
  width: 81%;
  margin: 0 2% 4%;
}
.goal-container input {
  padding: 1.5%;
}
.steps-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 4%;
}
.step-inputs-container {
  display: flex;
  flex-direction: column;
  width: 81%;
  margin: 0 2%;
}
.step-title-input {
  margin-bottom: 2%;
}
.step-notes-input {
  height: 15vh;
  resize: none;
}
.delete-button {
  align-self: flex-start;
  width: 5%;
}
.goal-form-errors {
  color: red;
}
.goal-buttons-container {
  margin-top: 2%;
  margin-bottom: 15%;
}
.goal-form-buttons {
  width: 15%;
  margin: 1%;
}

/* ***** Form: Edit Goal ***** */
.completed-checkbox {
  margin-top: 2%;
  margin-right: 2%;
}
.edit-goal-text-input {
  width: 77%;
}
